<html>
<head>
<title><%= siteTitle %> asd <%= pageTitle %></title>
<link rel = "stylesheet" type="text/css" href="css/style.css" />
</head>
<body id="<%=pageId %>">
<h1>Welcome FJD haha</h1>
		<img src="/images/misc/background.jpg" alt="background.jpg" style="height:300px;"/>
		asjahdjkasjd
		<script src = "/reload/reload.js"></script>

	
<a href="https://www.google.com">google</a>
</body>
</html>

		